
html{
	 font-size: 10px;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1.6rem;
}

/*  header css is done  */
.header{
	 height:7rem;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
}

.nav-links a{
	text-decoration: none;
	
}



/* about us begin */

.about-us{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}



.about-sec-1, .about-sec-2{
	margin-top: 3rem;
	 display: flex;
	 justify-content: center;
	 align-items: flex-start;
	 gap: 3rem;
	 min-height: 50rem;
	 flex-wrap: wrap;
}

.about-sec-1 *, .about-sec-2 *{
	 width: 45%;
	 padding:2rem;
	 margin-top: 4rem;
	
}


.about-sec-1 img, .about-sec-2 img{
	
	height: 40rem;
	width: 45%;
	object-fit: cover;
	object-position: center;
	padding-top: 10rem;
}


/*  service section begn=ins here  */

.service-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem;
}



.services{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4rem;
	margin-top: 3rem;
}

.service {
	width: 40%;
	padding: 3rem;
	min-height: 32rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.services button, .products button, .teams button{
	font-size: 1.5rem;
	
}

/* team starts here  */

.team-parent, .product-container, .contact-us{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3rem;
}

.teams, .products{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 4rem;
	margin-top: 3rem;
}

.team, .product	{
	width: 40%;
	padding: 3rem;
	min-height: 32rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}
.contact-us{
	padding: 3rem;
}
.contact-us p, .address {
	text-align: center;
	margin-top: 2rem;
}

.product *,.team *{
	 text-align: center;
}
.touch p, .touch button{
	 font-size: 1.6rem;
}

.touch input, .touch textarea{
	padding: 1rem;
	font-size: 1.5rem;
}


@media screen and (max-width:600px) {
	.about-sec-1 *,.about-sec-2 *{
		width: 100%;
	}
	.about-sec-1, .about-sec-2{
		padding: 4rem 0rem;	}
	.about-sec-1 img, .about-sec-2 img{
		 width: 100%;
		 padding-top: 0rem;
		 margin-top: 0rem;
	}
	.service{
		 width: 100%;
	}
	.team{
		 width: 100%;
	}
	
}